@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.get-text {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2%;
}
.body-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.form-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

s {
  background-color: #151b28;
}

.first-form-div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .second-container {
    width: fit-content;
  }
  .second-container p {
    width: fit-content;
  }
  .get-text {
    font-size: 27px;
  }

  .form-container {
    width: 100%;
    padding: 5px;
  }

  .first-form-div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .first-form-div input {
    width: 100%;
  }

  .submit-bt {
    width: 100%;
  }
  .form-first {
    width: 100%;
    padding: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .second-container {
    width: fit-content;
  }
  .second-container p {
    width: fit-content;
  }
  .get-text {
    font-size: 27px;
  }

  .form-container {
    width: 90%;
    padding: 5px;
  }

  .first-form-div {
    display: flex;
    gap: 20px;
  }

  .first-form-div input {
    width: 100%;
  }

  .first-form-div select {
    width: 100%;
  }

  .submit-bt {
    width: 100%;
  }
  .form-first {
    width: 100%;
    padding: 0px;
  }

  .firstName-div {
    width: 50%;
  }
}
